.steuerelemente {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  font-weight: bold;
}

.label {
  margin-bottom: 5px;
}

.input {
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
}
